<div class="main-pane">
  <h1 class="text-center">Production de texte unique frontend app</h1>
  <div class="part-grid">
    <div class="part" (click)="onNavigate('les-textes')">
      <h1>Les textes</h1>
    </div>
    <div class="part" (click)="onNavigate('les-participants')">
      <h1>Les Participants</h1>
    </div>
    <div class="part" (click)="onNavigate('les-buts')">
	<h1>Les buts</h1>
    </div>
    <div class="part" (click)="onNavigate('les-examens')">
	<h1>Les Examens</h1>
    </div>
  </div>
</div>
