<mat-spinner *ngIf="loading"></mat-spinner>
Debug:Dans textes-liste.component.html:loading = {{loading}} <br>
Debug:Dans textes-liste.component.html:nombre de textes = {{textes.length}} <br>
<p class="text-center" *ngIf="textes.length <= 0 && !loading">
    La base de données est vide !</p>

<div class="texte-grid" *ngIf="textes.length >= 0">
    <div class="texte-pane"
	 *ngFor="let un_texte of textes"
	 [ngClass]="{'open': un_texte._id === chosenId}"
	 [ngStyle]="{'background-image': 'url(' + un_texte.shasum + ')'}"
	 (click)="onProductClicked(un_texte._id)">
	<div class="texte-info">
	    <h3>
		{{ un_texte.titre }}
	    </h3>
	    <h5>
		{{ un_texte.noteMoyenne }}
	    </h5>
	</div>
    </div>
</div>
