<mat-spinner *ngIf="loading"></mat-spinner>
<div *ngIf="debug">Debug:Dans textes-liste.component.html:loading = {{loading}}</div>
<div *ngIf="debug">Debug:Dans textes-liste.component.html:nombre de textes = {{textes.length}}</div>

<p class="text-center"
   *ngIf="textes.length <= 0 && !loading">
    La base de données est vide !</p>

<div class="texte-grid" *ngIf="textes.length >= 0">
    <div class="texte-pane"
	 *ngFor="let un_texte of textes"
	 [ngClass]="{'open': un_texte._id === chosenId}"
	 [ngStyle]="{'background-image': 'url(' + un_texte.shasum + ')'}"
	 (click)="onTexteClicked(un_texte._id)">
	<div class="texte-info">
	    <h3>
		{{ un_texte.titre }}
	    </h3>
	    <h5>
		<ul>
		    <li>AuteurId : {{ un_texte.auteurId }}</li>
		    <li>Titre : {{ un_texte.titre }}</li>
		    <li>Note moyenne : {{ un_texte.noteMoyenne }} ( {{ un_texte.noteEcartType }} )</li>
		    <li>Shasum : {{ un_texte.shasum }}</li>
		    <li>imageUrl : {{ un_texte.imageUrl }}</li>
		    <li>Id : {{ un_texte._id }} ( {{ un_texte.__v }} ) </li>
		</ul>
	    </h5>
	    Texte :
	    <p>{{ un_texte.contenu }}</p>
	</div>
    </div>
</div>
