<mat-spinner *ngIf="loading"></mat-spinner>
<div *ngIf="debug">Debug:Dans single-participant.component.html</div>
<div *ngIf="!loading">
    <div class="single-participant-pane">

	<div class="single-participant-info">
	    <p>email {{ participant.email }}<p>
		<p>pseudo {{ participant.pseudo }}</p>
		<p>id {{ participant._id }}</p>
		<button class="btn btn-success m-1" (click)="onModify()"
			[disabled]="part != 2 && participantId !== participant?.participantId">Modifier</button>
		<button class="btn btn-danger m-1" (click)="onDelete()"
			[disabled]="part != 2 && participantId !== participant?.participantId">Supprimer</button>
	</div>
	<button class="btn btn-link"
		(click)="onGoBack()"><< Retour à la liste des Participants</button>
    </div>
</div>
