<mat-spinner *ngIf="loading"></mat-spinner>
<div *ngIf="debug">Debug:Dans single-connexion.component.html</div>
<div *ngIf="!loading">
    <div class="single-connexion-pane">

	<div class="single-connexion-info">
	    <p>email {{ connexion.email }}<p>
		<p>pseudo {{ connexion.pseudo }}</p>
		<p>id {{ connexion._id }}</p>
		<button class="btn btn-success m-1" (click)="onModify()"
			[disabled]="part != 5 && connexionId !== connexion?.connexionId">Modifier</button>
		<button class="btn btn-danger m-1" (click)="onDelete()"
			[disabled]="part != 5 && connexionId !== connexion?.connexionId">Supprimer</button>
	</div>
	<button class="btn btn-link"
		(click)="onGoBack()"><< Retour à la liste des Connexions</button>
    </div>
</div>
