<mat-spinner *ngIf="loading"></mat-spinner>

<div *ngIf="debug">Debug:Dans new-texte-with-image.component.html</div>

<div *ngIf="!loading" class="col-sm-6 offset-sm-3 mt-2">
    <form [formGroup]="texteForm">
	<div class="form-group">
	    <label for="titre">Titre </label>
	    <input type="text"
		   placeholder="Titre du texte ?"
		   id="titre"
		   formControlName="titre"
		   class="form-control">
	</div>

	<div class="form-group">
	    <label for="noteMoyenne">Note Moyenne de 0 à 10 </label>
	    <input type="number"
		   id="noteMoyenne"
		   class="form-control"
		   formControlName="noteMoyenne"
		   min="0" max="10">
	</div>
	
	<div class="form-group">
	    <label for="contenu">Contenu </label>
	    <input type="text"
                   id="contenu"
		   class="form-control"
		   formControlName="contenu"
                   placeholder="Entrer le texte ...">
	</div>

	<div class="form-group">
	    <label for="auteurId">AuteurId </label>
	    <input type="text"
                   id="auteurId"
		   class="form-control"
		   formControlName="auteurId"
                   placeholder="someAuteurId">
	</div>
<!-- Improve function -->
	<div class="form-group">
	    <label for="shasum">Shasum </label>
	    <input type="text"
                   id="shasum"
		   class="form-control"
		   formControlName="shasum"
                   placeholder="Entrer la shasum">
	</div>

	<button class="btn btn-success"
		       type="button"
		       (click)="APicker.click()">Ajouter une Image
	</button>

	<input type="file" #APicker (change)="onImagePick($event)">

	<div class="image-preview"
	     *ngIf="imagePreview">
	    <img [src]="imagePreview" alt="">
	</div>
	
	<div> 
	<button class="btn btn-primary" (click)="onSubmit()"
		       [disabled]="texteForm.invalid">Submit</button>
	</div>

	<p class="alert-danger"
	   *ngIf="errorMessage">{{ errorMessage }}</p>
    </form>
</div>
