<div *ngIf="debugIsActive">Debug:Dans main-menu.component.html</div>

<div class="main-pane">
    <h2 class="text-center">Menu principal</h2>

    <div class="part-grid">
	<div class="part"
	     (click)="onNavigate('part-one')">
	    <h1>Les textes</h1>
	</div>
	<div class="part"
	     (click)="onNavigate('part-two')">
	    <h1>Les Participants</h1>
	</div>
	<div class="part"
	     (click)="onNavigate('part-three')">
	    <h1>Les Buts</h1>
	</div>
	<div class="part"
	     (click)="onNavigate('part-four')">
	    <h1>Les Notations</h1>
	</div>
	<div class="part"
	     (click)="onNavigate('part-five')">
	    <h1>Les Connexions</h1>
	</div>
    </div>
</div>
<app-header></app-header>
