<mat-spinner *ngIf="loading"></mat-spinner>

<div *ngIf="debug">Debug:Dans notations-liste.component.html:loading = {{loading}}</div>
<div *ngIf="debug">Debug:Dans notations-liste.component.html:nombre de notations = {{notations.length}}</div>

<p class="text-center"
   *ngIf="notations.length <= 0 && !loading">
    La base de données est vide !</p>

<p class="text-center"
   *ngIf="notations.length <= 0">
    La collection notation_c dans la base de données est vide !</p>

<div class="notation-grid"
     *ngIf="notations.length >= 0">
    <div class="notation-pane"
	 *ngFor="let une_notation of notations"
	 (click)="onNotationClicked(une_notation._id)">

	<div class="notation-info">
	    <p>texteId {{ notation.texteId }}<p>
	    <p>participantId {{ notation.participantId }}</p>
	    <p>id {{ notation._id }}</p>
	    <p>note {{ notation.note }}</p>
	    <p>date {{ notation.date }}</p>
	</div>
    </div>
</div>
