<mat-spinner *ngIf="loading"></mat-spinner>

<div *ngIf="debug">Debug:Dans connexions-liste.component.html:loading = {{loading}}</div>
<div *ngIf="debug">Debug:Dans connexions-liste.component.html:nombre de connexions = {{connexions.length}}</div>

<p class="text-center"
   *ngIf="connexions.length <= 0 && !loading">
    La base de données est vide !</p>

<div class="connexion-grid"
     *ngIf="connexions.length >= 0">
    <div class="connexion-pane"
	 *ngFor="let une_connexion of connexions"
	 (click)="onConnexionClicked(une_connexion._id)">
	<div class="connexion-info">
	    <p>
		email {{ une_connexion.email }}<br>
		id {{ une_connexion._id }}<br>
	    </p>
	</div>
    </div>
</div>
