<mat-spinner *ngIf="loading"></mat-spinner>

<div *ngIf="!loading" class="col-sm-6 offset-sm-3 mt-2">
    <form [formGroup]="notationForm">
	<div class="form-group">
	    <label for="texteId">TexteId</label>
	    <input type="text"
		   placeholder="Entrer un texteId ..."
		   id="texteId"
		   formControlName="texteId"
		   class="form-control">
	</div>
	<div class="form-group">
	    <label for="participantId">ParticipantId</label>
	    <input type="participantId"
		   placeholder="Entrer un participantId ..."
		   id="participantId"
		   formControlName="participantId"
		   class="form-control">
	</div>
	<div class="form-group">
	    <label for="note">Note</label>
	    <input type="number"
		   placeholder="Entrer un note ..."
		   id="note"
		   formControlName="note" min="0" max="10"
		   class="form-control">
	</div>
	<button class="btn btn-primary"
		       (click)="onSubmit()"
		       [disabled]="notationForm.invalid">Submit</button>
	<p class="alert-danger"
	   *ngIf="errorMessage">Dans new-notation.component.html.<br>Erreur lors de la création de la notation:<br> {{ errorMessage }}</p>
    </form>
</div>
