<mat-spinner *ngIf="loading"></mat-spinner>

<div *ngIf="!loading" class="col-sm-6 offset-sm-3 mt-2">
    <form [formGroup]="notationForm">
	<ul>
	    <li> Id du texte : {{currentTexteId}}</li>
	    <li> Id du participant : {{participantId}}</li>
	    <li> Date : {{currentDate}}</li>
	</ul>
	<div class="form-group">
	    <label for="note">Note</label>
	    <input type="number"
		   placeholder="Entrer un note ..."
		   id="note"
		   formControlName="note" min="0" max="10"
		   class="form-control">
	</div>
	<button class="btn btn-primary"
		       (click)="onSubmit()"
		       [disabled]="notationForm.invalid">Submit</button>
	<p class="alert-danger"
	   *ngIf="errorMessage">Dans new-notation.component.html.<br>Erreur lors de la création de la notation:<br> {{ errorMessage }}</p>
    </form>
</div>
