<mat-spinner *ngIf="loading"></mat-spinner>
<div *ngIf="debug">Debug:Dans single-notation.component.html</div>
<div *ngIf="!loading">
    <div class="notation-pane">

	<div class="notation-info">
	    <p>texteId {{ notation.texteId }}<p>
		<p>participantId {{ notation.participantId }}</p>
		<p>id {{ notation._id }}</p>
		<p>note {{ notation.note }}</p>
		<p>date {{ notation.date }}</p>
		<button class="btn btn-danger m-1" (click)="onDelete()"
			[disabled]="part != 4">Supprimer</button>
	</div>
	<button class="btn btn-link"
		(click)="onGoBack()"><< Retour à la liste des Notations</button>
    </div>
</div>
