<mat-spinner *ngIf="loading"></mat-spinner>
<br>Debug:Dans single-texte.component.html
<div *ngIf="!loading">

    <div class="single-texte-pane">

	<div class="single-texte-info">
	    <h1>{{ texte?.titre }}</h1>
	    <p>note : {{ texte?.noteMoyenne }} ({{ texte?.noteEcartType }}) </p>
	    <p>Id : {{ texte?._id }}</p>
	    <p>Shasum : {{texte?.shasum}} </p>
	    <p>Contenu : {{ texte?.contenu }}</p>
	    <button class="btn btn-success m-1"
		    (click)="onModify()"
		    [disabled]="part != 1 && auteurId !== texte?.auteurId">Modifier</button>
	    <button class="btn btn-danger m-1"
		    (click)="onDelete()"
		    [disabled]="part != 1 && auteurId !== texte?.auteurId">Supprimer</button>
	</div>
	<button class="btn btn-link" 
		       (click)="onGoBack()"><< Retour à la liste des Textes</button>
    </div>
</div>
